@model IEnumerable<KimsWoodworking_v2.Models.UserCartModel>

@{
    ViewBag.Title = "Index";
}

<h2>Cart for @System.Web.HttpContext.Current.User.Identity.Name</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.ProductID)
        </td>
        <td>
            @Html.DisplayFor(model => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(model => item.ProductPrice)
        </td>
        <td>
            @using (Html.BeginForm("UpdateCartItem", "Cart", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => item.ProductID)
                @Html.EditorFor(model => item.Quantity)

                <button type="submit">Update</button>

                @Html.ValidationMessageFor(model => item.Quantity, "", new { @class = "text-danger" })
            }
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { productID = item.ProductID })
        </td>
    </tr>
}
</table>

<p>Total: $@ViewBag.TotalPrice</p>
