<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="nav-override container-fluid">
        <a class="navbar-brand" href="@Url.Action("Index","Home")">Kim's Woodworking</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="@Url.Action("Index","Product")">Products</a>
                </li>
                @if (System.Web.HttpContext.Current.User.IsInRole("Manager"))
                {
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Index","SiteManager")">Site Manager</a>
                    </li>
                }
                @if (System.Web.HttpContext.Current.User.IsInRole("Administrator"))
                {
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Index","Admin")">Admin</a>
                    </li>
                }
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </div>
</nav>