@model  KimsWoodworking_v2.Models.ViewModels.ProductIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(Model => Model.ProductsList[0].ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.ProductsList[0].ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.ProductsList[0].ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.ProductsList[0].ProductPrice)
        </th>
    </tr>

@foreach (var item in Model.ProductsList) {
    <tr>
        <td>
            @Html.DisplayFor(Model => item.ProductID)
        </td>
        <td>
            @Html.DisplayFor(Model => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(Model => item.ProductDescription)
        </td>
        <td>
            @Html.DisplayFor(Model => item.ProductPrice)
        </td>
        <td>
            @Html.ActionLink("Add To Cart", "AddProductToCart", "Cart", new { productID = item.ProductID }, null)
        </td>
    </tr>
}

</table>
